<div class="main-side">
  <div class="top">
    {{#link-to 'like' class="botinder-logo"}}Botinder{{/link-to}}
    <div class="slogan">a Tinder extension</div>
    <ul class="main-menu">
      <li>{{#link-to 'profile' user._id}}<img class="user-photo" {{bind-attr src="user.photo"}}> {{user.name}}{{/link-to}}</li>
      <li>{{#link-to 'like'}}Booster{{/link-to}}</li>
      <li>{{#link-to 'matches'}}Matches{{/link-to}}</li>
    </ul>
  </div>
  <div class="side">
    {{outlet side}}
  </div>
</div>
<div class="page">
  {{outlet}}
</div>
<div {{bind-attr class=":update updateOngo::hidden"}}>
  mise à jour en cours
</div>