<div class="main-side">
  <div class="top">
    {{#link-to 'like' class="bolinter-logo"}}Flamite{{/link-to}}
    <div class="slogan">Unofficial Tinder client.</div>
    <ul class="main-menu">
      <li>{{#link-to 'profile' user._id}}<img class="user-photo" {{bind-attr src="user.photo"}}> {{user.name}}{{/link-to}}</li>
      <li>{{#link-to 'like'}}Booster{{/link-to}}</li>
      <li>{{#link-to 'matches'}}Matchs{{/link-to}}</li>
      <li {{action "reset"}} class="reset">reset</li>
    </ul>
  </div>
  <div class="side">
    {{outlet side}}
  </div>
</div>
<div class="page">
  {{outlet}}
</div>