<div class="side-like">
  <div class="options">
    <div class="field field-checkbox">
      {{input type="checkbox" name="likeAuto" id="field-like" checked=likeAuto}}
      <label for="field-like">Like automatically</label>
    </div>
    <div class="field field-checkbox">
      {{input type="checkbox" name="dislikeAuto" id="field-dislike" checked=dislikeAuto}}
      <label for="field-dislike">Dislike randomly</label>
    </div>
    <div class="field">
      <label for="field-delay">Speed</label>
      <select id="field-delay" class="delay-select field-select" {{action "changeDelay" on="change"}}>
        <option value="3200">slow</option>
        <option value="1500" selected>normal</option>
        <option value="1000">booster!</option>
      </select>
    </div>
    <button {{action 'changeRunningStatus'}} {{bind-attr class=':button :big :light running:active'}}>{{start}}</button>
  </div>
  <div class="stats">
    <big>{{stats.profiles}}</big><br>
    <small>profiles</small>
  </div>
  <div class="info">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="9D3C99X8AKU4G">
      <input type="image" class="donate" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
      <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
    </form>
    <br>
    Bitcoin <a href="https://blockchain.info/address/1KrJDJNa4R4kC5Rc4ayBcaM3TULqxutasV" target="_blank">1KrJDJNa4R4kC5Rc4...</a><br>
    Twitter <a href="https://twitter.com/MrP1ng" target="_blank">@MrPing</a>
  </div>
</div>