<div class="page-profile">
  <div class="profil">
    <div class="wrap">
      <img {{bind-attr src="model.photo"}} class="user-photo">
      <span class="username">{{model.name}} <span class="age">{{model.age}}</span></span>
      <span class="informations">Connection: {{model.ping_time}}</span>
      <span class="informations">Distance: {{model.distance_mi}} miles ({{model.distance_km}} km)</span>
    </div>
  </div>
  <div class="content">
    <div class="bio">{{{model.bio}}}</div>
    <section class="photos">
      {{#each photo in model.photos}}
        <div class="photo-container">
          <img {{bind-attr src=photo.big}}>
        </div>
      {{/each}}
    </section>
  </div>
</div>